<div class="col-12 col-md-6 col-xl-4 card-service">
    <div class="single-featured mb-50 wow fadeInUp" data-wow-delay="100ms">
        <div class="service_box">
            <figure class="icon_box"><i class="fa fa-folder"></i></figure>
            <aside class="description">
                <header><h3>Gestion de vos biens immobilier</h3></header>
                <p>Nous vous proposons, une gamme complète de services personnalisés, assortis d'engagements clairs</p>
            </aside>
            <a href="#" class="link-arrow">En savoir plus <i class="fa fa-arrow-circle-o-right"></i></a>
        </div><!-- /.service_box -->
    </div>
</div><!-- /.col-md-4 -->


<div class="col-12 col-md-6 col-xl-4 card-service">
    <div class="single-featured mb-50 wow fadeInUp" data-wow-delay="100ms">
        <div class="service_box">
            <figure class="icon_box"><i class="fa fa-users"></i></figure>
            <aside class="description">
                <header><h3>14 agents pour votre service</h3></header>
                <p>Les professionnels de notre réseau sont à votre disposition pour vous présenter l'ensemble de notre prestation. </p>
                <a href="#" class="link-arrow">En savoir plus <i class="fa fa-arrow-circle-o-right"></i></a>
            </aside>
        </div><!-- /.service_box -->
    </div>
</div><!-- /.col-md-4 -->

<div class="col-12 col-md-6 col-xl-4 card-service">
    <div class="single-featured mb-50 wow fadeInUp" data-wow-delay="100ms">
        <div class="service_box">
            <figure class="icon_box"><i class="fa fa-home"></i></figure>
            <aside class="description">
                <header><h3>Confier nous votre projet</h3></header>
                <p>Et bénéficiez de l'expérience nos agences pour la gestion de votre projet </p>
                <a href="#" class="link-arrow">En savoir plus <i class="fa fa-arrow-circle-o-right"></i></a>
            </aside>
        </div><!-- /.service_box -->
    </div>
</div><!-- /.col-md-4 -->
