<div class="single-testimonial-slide">
    <div class="col-2 testimonial-avatar">
        <img alt="" src="{{ asset('images/avatar/AvatarBoy.png') }}">
    </div>
    <div class="col-8 testimonial-post">
        <p class="testimonial-author-post">
            La qualité de service était exceptionnelle. Mon conseiller était là pour me guider.
            J’avais besoin d’une vente très rapide pour acheter une maison en Angleterre.
            Il a trouvé un très bon acheteur en une semaine au prix souhaité.
        </p>
        <p class="testimonial-author-info">_CROCHET Xavier</p>
    </div>
</div>

<div class="single-testimonial-slide">
    <div class="col-2 testimonial-avatar">
        <img alt="" src="{{ asset('images/avatar/AvatarGirl.png') }}">
    </div>
    <div class="col-8 testimonial-post">
        <p class="testimonial-author-post">
            Une agence très professionnelle avec une réelle motivation dans la gestion de mon projet immobilier.
            Je la recommande.
        </p>
        <p class="testimonial-author-info">_ARNAUD Frédérique</p>
    </div>
</div>
